html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/* AFTER */

.contact:after {
    content: '';
    display: table;
    clear: both;
}
/*-------RESET---------*/

#page_wrapper{
  padding:0;
  width: 100%;
  background-color: #F3EFE4;
  font-family: 'Open Sans',Arial, serif;
  font-style: normal;
  font-weight: 400;
}
    #page_wrapper h1{
      font-size: 38pt;
    }
    #page_wrapper h3{
      font-size: 18pt;
    }
    #page_wrapper h4{
      font-size: 12pt;
    }

textarea:focus, input:focus{
    outline: none;
}

header{
  width: 100%;
  padding-top: 10px;
  background-color: #fff;
}
    header ul li{
      display: inline;
      padding: 0 5px;
      border-right: #000 solid 1px;
    }

    header ul li:last-child{
      border: none;
    }

    header #logo{
      text-align: center;
    }

    header .blurb span + span{
      color: #D3C49B;
      font-size: 12px;
    }

    header #site_nav, #account_nav ul{
      margin: 20px 0;
    }

    header #site_nav{
      margin-top: 3%;
    }
        header #site_nav ul li a{
          color: #3B401E;
          font-size: 20px;
        }

    header #account_nav ul li a{
      color: #3B401E;
      font-size: 15px;
    }

    header #search{
      position: relative;
    }

        header #search input{
          padding: 10px;
          margin: 10px 0;
          border: none;
          border-radius: 10px;
          background-color: #F3EFE4;
          font-family: 'Open Sans',Arial, serif;
          font-style: italic;
          font-weight: 400;
        }

        header #search .find{
          margin: 0;
          padding: 0;
          position: absolute;
          top:3px;
          right:10px;
        }

#content_wrapper{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  /*background: url(images/background.png);*/
}
    #content_wrapper .row{
      margin-left: 0;
    }

    #content_wrapper h4{
      color:#A3A78B;
      margin: 20px 0;
    }

    aside{
      padding: 20px;
    }
        aside li {
          width: auto;
          padding: 10px;
        }

        aside li a{
          color:#4A4F2A;
        }

            aside li a:hover{
              color:#94A14C;
              background-color: #F3EFE4;
              text-decoration: underline;
            }

        aside input{
          padding: 10px;
          margin-top: 10px;
          margin-left: -15px;
          border-radius: 10px;
          background-color: #F3EFE4;
          font-family: 'Open Sans',Arial, serif;
          font-style: italic;
          font-weight: 400;
          font-size: 12px;
        }

        aside #mail_input {
          position: relative;
        }
            aside #mail_input .mail_img {
              padding: 0;
              margin: 0;
              position: absolute;
              top: 0;
              right: 5px;
            }

    .jumbotron{
      width: 95%;
      color:#A3A78B;
      line-height: 1.5;
      margin: auto;
      margin-top: 20px;
      position: relative;
      background-color: transparent;
    }
        .jumbotron .btn{
          background-color: #E8930C;
          border-color: #E8930C;
        }

    #post_list{
      padding: 20px;
    }
          #post_list .row{
            padding:10px 0 ;
            border-bottom: #F3EFE4 solid 1px;
          }

          #post_list h4{
            margin-bottom: 20px;
          }

          #post_list .post_img img{
            min-width: 230px;
            min-height: 160px;
            max-width: 100%;
            max-height: 100%;
          }

          #post_list .post_content{
            position: relative;
          }
                #post_list .post_content h3, p, span{
                  margin: 10px;
                }

                #post_list .post_content h3{
                  color: #D98D1B;
                }

                #post_list .post_content>i{
                  position: absolute;
                  right: 20px;
                }

                #post_list .post_content>span{
                  font-family: 'Open Sans',Arial, serif;
                  font-style: italic;
                  font-weight: 400;
                }

footer.row{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 30px;
  background-color: #757F3C;
  box-shadow: inset 0 5px 20px #fff;
}

    footer h4{
      padding: 10px 0;
      color:#3B401E;
      border-bottom:#3B401E solid 1px;
    }

    footer li {
      padding: 10px 5px;
    }
        footer li a{
          color: #fff;
        }

        footer li a:hover{
          text-decoration: underline;
        }
    footer input{
      padding: 10px;
      margin-top: 10px;
      border-radius: 10px;
      font-family: 'Open Sans',Arial, serif;
      font-style: italic;
      font-weight: 400;
    }
